{% extends 'base.html.twig' %}

{% block title %}Pc{% endblock %}

{% block body %}
    <h1>Pc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pc.id }}</td>
            </tr>
            <tr>
                <th>Qtec</th>
                <td>{{ pc.qtec }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pc_index') }}">back to list</a>

    <a href="{{ path('app_pc_edit', {'id': pc.id}) }}">edit</a>

    {{ include('pc/_delete_form.html.twig') }}
{% endblock %}
